<div id="mapbox_header">
  <div class="mapbox_header_row">
    <div class="mapbox_header_label">Mode</div>
    <div id="mapbox_header_mode"></div>
  </div>
  <div class="mapbox_header_row">
    <div id="mapbox_header_device_count">0</div>
    <div class="mapbox_header_label_insignificant">Devices</div>
    <div id="mapbox_header_device_error_count" class="hidden"></div>
    <div id="mapbox_header_label_error" class="hidden"> of which are not correctly set up</div>
  </div>
  <div class="mapbox_header_row">
      <select id="mapbox_device_select">
          <option value="none">Select a device here</option>
      </select>
  </div>

</div>
<div id="mapbox_svg_holder"></div>

