<div id="device_type_editor_holder" class="column">
  <div class="row">
    <div class="device_type_label">Name</div>
    <input id="device_type_editor_name_input"/>
    </div>
  <div id="device_type_editor_icon_holder">
    <div class="device_type_editor_icon_placeholder">click to select an icon</div>
   </div>
   <div class="row">
       <div id="device_type_editor_cancel_button">Cancel</div>
       <div id="device_type_editor_save_button">Save</div>

   </div>
   <div id="device_type_editor_error_message"></div>
</div>
