<div id="mapbox_device_editor"">
    <div class="mapbox_device_edit_row">
        <div class="mapbox_device_edit_label">X</div>
        <input id="mapbox_device_edit_x" class="mapbox_device_edit_input" />
        <div class="mapbox_device_edit_label">Y</div>
        <input id="mapbox_device_edit_y" class="mapbox_device_edit_input"/>
    </div>
    <div class="mapbox_device_edit_row">
        <div class="mapbox_device_edit_label">Address</div>
        <input id="mapbox_device_edit_address" class="mapbox_device_edit_input" />
    </div>
        <div class="mapbox_device_edit_row">
            <div class="mapbox_device_edit_label">Channel</div>
            <input id="mapbox_device_edit_channel" class="mapbox_device_edit_input"/>
        </div>
    <div class="mapbox_device_edit_row">
        <div class="mapbox_device_edit_label">Supply</div>
        <input id="mapbox_device_edit_supply"/>
    </div>
    <div class="mapbox_device_edit_row">
        <div class="mapbox_device_edit_label">notes</div>
        <textarea id="mapbox_device_edit_notes"></textarea>
    </div>

    <div class="mapbox_device_edit_row">
        <div id="mapbox_device_edit_message" ></div>
    </div>
    <div class="mapbox_device_edit_row">
        <button id="mapbox_device_edit_cancel">Cancel</button>
        <button id="mapbox_device_edit_delete">Delete</button>
        <button id="mapbox_device_edit_update">Update</button>
        <button id="mapbox_device_edit_save">Save</button>
    </div>

</div>
